<h2>Liste des tâches</h2>

<!-- afficher les stat -->
<app-task-stats></app-task-stats>

<!-- formulaire pour ajouer une tache -->
<input
  #taskInput
  type="text"
  placeholder="Nouvelle tâche"
  (keyup.enter)="addTask(taskInput.value); taskInput.value = ''"
/>

<button (click)="addTask(taskInput.value); taskInput.value = ''">
  Ajouter
</button>

<hr />

@if (tasks$ | async; as tasks) {
  <ul>
    @for (task of tasks; track task.id) {
      <li [class.completed]="task.completed">
        {{ task.title }}

        <!-- bouton pour mettre en avant -->
        <button (click)="highlight(task)">
          Mettre en avant
        </button>

        <!-- bouton pour editer -->
        <button (click)="edit(task)">
          Éditer
        </button>

        <!-- bouton pour terminer -->
        <button (click)="toggleTask(task.id)">
          Terminer
        </button>

        <!-- bouton pour suprimer -->
        <button (click)="deleteTask(task.id)">
          Supprimer
        </button>
      </li>
    }
  </ul>
} @else {
  <p>Chargement des tâches...</p>
}

<!-- Affichage du composant de mise en avant basé sur l'état -->
@if (highlightedTask) {
  <app-task-highlight [title]="highlightedTask.title"></app-task-highlight>
}

<!-- Affichage du composant d'édition basé sur l'état -->
@if (editingTask) {
  <app-task-edit
    [task]="editingTask"
    (onSave)="updateTask(editingTask!.id, $event)"
    (onCancel)="cancelEdit()">
  </app-task-edit>
}
